stepfnctions.json
{
  "StartAt": "PrepareInput",
  "States": {
    "PrepareInput": {
      "Type": "Pass",
      "Assign": {
        "inputKey": "{% $states.input.detail.object.key %}"
      },
      "Next": "CreateJob",
      "QueryLanguage": "JSONata"
    },
    "CreateJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::mediaconvert:createJob.sync",
      "Arguments": {
        "JobTemplate": "arn:aws:mediaconvert:ap-northeast-1<AccountID>:jobTemplates/example-dev-mp4-hls-abr-360-720",
        "Queue": "arn:aws:mediaconvert:ap-northeast-1<AccountID>:queues/example-dev-mp4-hls-conv",
        "Role": "arn:aws:iam:<AccountID>:role/service-role/MediaConvert_Default_Role",
        "Settings": {
          "Inputs": [
            {
              "FileInput": "{% 's3://' & $states.input.detail.bucket.name & '/' & $states.input.detail.object.key %}",
              "CaptionSelectors": {
                "Captions Selector 1": {
                  "SourceSettings": {
                    "SourceType": "SRT",
                    "FileSourceSettings": {
                      "SourceFile": "{% 's3://' & $states.input.detail.bucket.name & '/' & $substringBefore($states.input.detail.object.key, '.mp4') & '.srt' %}"
                    }
                  }
                }
              }
            }
          ]
        },
        "Tags": {
          "Cost": "example-dev"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "MediaConvert.ThrottlingException",
            "MediaConvert.InternalServiceException",
            "States.Timeout"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NotifyFailure",
          "Assign": {
            "errorInfo": "{% $states.errorOutput %}"
          }
        }
      ],
      "Next": "NotifySuccess",
      "QueryLanguage": "JSONata",
      "TimeoutSeconds": 600
    },
    "NotifySuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "TopicArn": "arn:aws:sns:ap-northeast-1<AccountID>:hls-SNSTopic-pyeaj7YvvJEp",
        "Subject": "[example-dev] HLS変換 成功",
        "Message": {
          "Status": "SUCCESS",
          "InputFile": "{% $inputKey %}",
          "JobId": "{% $states.input.Job.Id %}"
        }
      },
      "End": true,
      "QueryLanguage": "JSONata"
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "TopicArn": "arn:aws:sns:ap-northeast-1<AccountID>:hls-SNSTopic-pyeaj7YvvJEp",
        "Subject": "[example-dev] HLS変換 失敗",
        "Message": {
          "Status": "FAILED",
          "InputFile": "{% $inputKey %}",
          "Error": "{% $errorInfo %}"
        }
      },
      "Next": "ConversionFailed",
      "QueryLanguage": "JSONata"
    },
    "ConversionFailed": {
      "Type": "Fail",
      "Error": "MediaConvertJobFailed",
      "Cause": "MediaConvert job did not complete successfully. See the SNS notification and CloudWatch Logs for details."
    }
  },
  "TimeoutSeconds": 1200,
  "Comment": "For converting a MP4 media (with an associated SRT subtitle of the same base filename) to HLS (ABR 360p/720p, burned-in captions), with retry on transient errors and SNS notification on success/failure"
}
